% include('header.tpl', title='OTM - Index')
% setdefault('submit', False)
<!-- <a class="github-fork-ribbon" href="https://github.com/gbyx3/otm" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a> -->
<div class="top_container">
    <h3>{{generic_message}}</h3>
</div>
<div class="outer_container">
    <div class="logo_container logo_mask">
        <img src="static/img/brand_logo.jpg" alt="Brand Logo"/>
    </div>
    <div class="container">
        <pre>{{message}}</pre>
        % if submit:
        <div class="submit_message">
            <div class="input_container">
                <textarea class="input_field" id="message_input" type="text" placeholder="Enter your message here"></textarea>
                <button class="input_button" id="submit_button" type="button">Submit</button>
            </div>
            <div class="input_container space_start">
                <input class="input_field small" id="salt_input" type="text" placeholder="Salt"/>
                <button id="info_button" class="clip_button" ><i class="fas fa-info-circle"></i></button>
                <div id="i_c" class="info_container">Salt is optional, if no salt is specified a default will be used</div>
            </div>
            <div>
                <a href="#" id="link" style="pointer-events:none;"></a>
                <button id="copy_button" class="clip_button" hidden="true"><i class="fas fa-clipboard"></i></button>
                <!--<button id="copy_button" type="button" hidden="true" >copy</button>-->
            </div>
        </div>
        % end

    </div>
</div>
<div class="footer">
    <p>{{company}}</p>
</div>
