@font-face {
   font-family: 'brand-font';
   src: url('/static/fonts/brand-regular.otf') format('opentype');
}
body {
   background-color: white;
   margin: 0;
   padding: 0;
   font-family: brand-font, Arial, sans-serif;
}
a {
   text-decoration: none;
   color: black;
}
.disclaimer-container {
    position:absolute
}
.input-container textarea {
    width: 500px;
}
.input-container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 10px;
   width: 100%;
}
.input-button {
   border: none;
   border-radius: 5px;
   padding: 10px;
   font-weight: bold;
   color: white;
   background-color: #95C11F;
   cursor: pointer;
}
.input-field {
   border: none;
   border-radius: 5px;
   padding: 10px;
   font-weight: bold;
   color: black;
   background-color: lightgray;
   width: 75%;
   height: 17px;
}
.small {
    width: 30%;
    margin-right: 5px;
    color: #606060;
}
.space-start {
    justify-content: start;
    max-height: 45px;
}
.info-container {
    border-radius: 5px;
    background-color: #ffffffc4;
    color: #87888A;
    text-align: center;
    height: auto;
    width: 150px;
    border: 1px solid;
    box-shadow: 0px 14px 55px 5px rgba(0,0,0,0.1);
    padding: 34px;
    position: absolute;
    left: 320px;
    bottom: 60px;
    display: none;
}
.clip-button {
    border: none;
    color: #87888A;
    background-color: transparent;
}
.clip-button:hover {
    border: none;
    color: #95C11F;
    background-color: transparent;
}
.logo-mask {
  -webkit-mask-image: url('/static/img/mask.svg');
  mask-image: url('/static/img/mask.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;    
  background-image: url("/static/img/brand_logo.jpg");
  width: 100%;
  height: 100%;
  background-position: -80px -130px; /* Adjust for your image*/
}
.submit-container {
    position: relative;
    left: 20px;
}
.top-menu-container {
    display: flex;
    justify-content: center;
}
.top-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 14px 55px 5px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    width: 48%;
    z-index: 1;
}
.generic-message {
    margin-top: 8%;
}
.top-container {
    display: flex;
    justify-content: center;
}
.top-container h3 {
    max-width: 380px;
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
}
.link-container {
    word-wrap: break-word;
    max-width: 750px;
}
.container {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 14px 55px 5px rgba(0,0,0,0.1);
    padding: 35px;
    padding-top: 20px;
    border-radius: 15px;
    min-width: 800px;
    min-height: 500px;
}
.logo-container {
    z-index: -1;
    display: block;
    position: fixed;
    top: 40px;
    left: -40px;
    mask-size: 1300px;
}
.outer-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 250px;
}
.message {
    max-width: 750px;
    min-height: 300px;
    margin-top: 15px;
}  
.tech-doc {
    top: 8px;
    right: 10px;
    position: relative;
}
.tech-help {
    position: fixed;
    top: 10px;
    right: 10px;
    margin: 5px;
}
.brand-logo{
    position: fixed;
    background-image: url("/static/img/logo.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 150px;
    height: 100%;
    top: 0px;
    left: 0px;
    margin: 5px;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    color: gray;
    padding: 10px;
}
.hover-target {
    border: none;
    color: #87888A;
    background-color: transparent;
}
.disclaimer-popup {
    top: -20px;
    left: 80px;
    width: 850px;
}
.input-popup {
    top: 38px;
    left: -30px;
    width: 50ch;
}
.hover-popup {
    margin: min(1rem, 20px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: .8rem;
    background-color: #d3d3d380;
    border-radius: 8px;
    padding: 1.5em;
    z-index: 42;
    transform: scale(0);
    transition: transform 200ms ease;
    transform-origin: 10% -10px;
}

.hover-target:hover + .hover-popup,
.hover-target:focus + .hover-popup,
.hover-popup:hover{
  transform: scale(1);
}

.hover-popup :not(:first-child) {
    margin-top: 1rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #95C11F;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: -1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}



